@import url(fonts/stylesheet.css);

:root {
    --swiper-pagination-color: #B5B6BC;
    --swiper-pagination-bullet-inactive-color: #ddd;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-theme-color: #000
}

body{margin:0;}

html{
    font-size: 14px;
    min-width: 320px;

}

body{

    /* min-height: 100vh; */
    background-color: #F8F8F8;
}

.button--no-appereance{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;

}

.button--hover:hover {
    filter: drop-shadow(0px 0px 3px rgba(0,
        0,
        0, 0.5));
    transition: all .1s ease;

}

/* ASIDE STYLES */

.aside_menu {
    width: 320px;
    height: 100%;
    box-shadow: 16px 0px 52px 0 rgba(14, 24, 80, .2);
    position: fixed;
    left: -320px;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 820px; */
    overflow: auto;
    opacity: 0;
    transition: all .5s ease;
    z-index: 999;
}

.aside__header {
    display: flex;
    justify-content: space-between;
    padding: 23px 24px;
    align-items: center;
}

.aside__header__logo {
    margin-right: 70px
}

.aside__navigation {
    margin-top: 40px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside__navigation__link {
    text-decoration: none;
    color: black;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding-left: 24px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    margin-bottom: 24px;
}

.aside-navigation__link--active {
    background: url(images/aside/highlight.svg) no-repeat 0px 0px;
    color: #7E7E82;
}

.aside__footer {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.aside__buttons-wrapper {
    display: flex;
    width: 152px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.aside__footer__link {
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.aside__footer__mail-link {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 12px;
}

.aside__footer__phone-link {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 900;
    margin-bottom: 40px;
}

.lang-switcher__button {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.lang-switcher__button--active {
    color: #7e7e82;
}

.aside_menu--show{
    opacity: 1;
    left: 0;
}

/* ASIDE END */

/* BRAND STYLES */

.brand_card{
    height: 72px;
    width: 240px;
    background-color: #ffff;
    margin-left: 32px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px 0 16px;
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

.brand_card__logo{
    align-self: center;
}

.brands__header{
    display: block;
    height: 56px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 16px 0 16px 32px;
    text-transform:uppercase;
    font-family: "TT Lakes", sans-serif;
    letter-spacing: -0.2px;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    margin-bottom: 24px;
}

.brands__wrapper__button {
    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 1.14rem;
    height: 24px;
    letter-spacing: -0.2px;
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.brands__wrapper__button::before {
    display: inline-block;
    content: '';
    background-image: url(images/main/section/read_more_icon.svg);
    height: 24px;
    width: 24px;
    margin-right: 8px;
    transition: all .3s ease;
}

.brands__wrapper__button--show-less::before {
    display: inline-block;
    content: '';
    background-image: url(images/main/section/read_more_icon.svg);
    height: 24px;
    width: 24px;
    margin-right: 8px;
    transform: rotate(180deg);
}


/* BRAND END */

.header {
    display: flex;
    width: auto;
    height: 88px;
    /* min-width: 320px; */
    background: #ffff;
    justify-content: space-evenly;
    padding: 19px 0;
    align-items: center;
    box-sizing: border-box;
}

.header__divider--tablet,
.header__button--tablet,
.button__icon--tablet {
    display: none;
}


.main_section{
    padding-top: 24px;
    min-width: 320px;
}

.main_section__header{
    font-family: 'TT Lakes', sans-serif;
    font-weight: bold;
    background: url('images/main/main_header/highlight.svg') no-repeat;
    padding-left: 16px;
    margin-top: 0 ;
    margin-bottom: 24px;
    font-size: 2rem;
    letter-spacing: -0.6px;
    display: inline-block;
}

    /* scroll Menu Styles */
    .scroll_menu::before{
        position: absolute;
        content: '';
        width: calc(100% - 24px);
        height: 40px;
        background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 85%, #F8F8F8 100%);

    }

    .scroll_menu__button--active{
        border: 2px solid #B8FFEC;
        background-color: #ffff;
        border-radius: 6px;
    }

    .scroll_menu__button{
        font-weight: 500;
        font-family: 'TT Lakes', sans-serif;
        color: #7E7E82;
        font-size: 1.14rem;
        height: 40px;
        padding: 0 16px;
        letter-spacing: -0.2px;
        line-height: 24px;
    }

    .scroll_menu {
        overflow: auto;
        height: 45px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        padding-left: 24px;
        padding-bottom: 12px;
    }

.content{
    min-height: 322px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.content__wrapper{
    margin-left: 18px;
    margin-bottom: 16px;
    padding-right: 25px;

}

.heading_wrapper {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 32px;
    justify-content: space-between;
}

.buttons_wrapper {
    display: none;
}

.content__text{
    font-family: 'TT Lakes', sans-serif;
    height: calc(18px * 5);
    overflow: hidden;
    line-height: 18px;
    margin:16px 0;
}

.content__button{
    width: 132px;
    font-family: 'TT Lakes', sans-serif;
    font-weight: 500;
    font-size: 1.14rem;
    height: 24px;
    letter-spacing: -0.2px;
    display: flex;
    align-items: center;
    color: #1B1C21;
}


.content__button::before{
    display: inline-block;
    content: '';
    background-image: url(images/main/section/read_more_icon.svg);
    height: 24px;
    width: 24px;
    margin-right: 8px;
}


@media screen and (max-width: 425px) {

    .swiper-wrapper{
        left: -40px
    }

    .brand_card{
        margin-left: 16px;
    }

    .swiper::before{
        z-index: 1000;
        position: absolute;
        top: 75px;
        right: 0;
        content:"";
        display: inline-block;
        width: 24px;
        height: 81px;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    }

    .swiper-pagination {
        display: block;
    }
}

@media screen and (min-width:320px) {
    

    .header__divider,
    .header__divider--tablet {
        content: url(images/header/divider.svg);
    }

    .header__button {
        width: 40px;
        height: 40px;
        padding: 0;
    }

    .button__icon {
        width: 40px;
        height: 40px;
    }

    .header__image {
        width: 97px;
        height: 51px;
        margin-right: 0;
    }
    .content__image {
        width: 320px;
        height: 176px;
        margin-bottom: 24px;
    }
    .buttons_wrapper {
        display: none;
    }

    .swiper-slide{
        width: 240px;
        height: 72px;
    }

    .swiper{
        width: 100%;
        height: 200px;
    }

}

@media screen and (min-width: 426px) {

        .brands__wrapper {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            max-height: 172px;
            transition: max-height .2s ease;
            margin: auto;
            max-width: 1120px;
        }
    
        .brands__wrapper--show_more {
            max-height: 1000px;
            margin-bottom: 16px;
            transition: max-height .2s ease;
        }
    
}

@media screen and (min-width:767px) {

    .header__divider--tablet,
    .header__button--tablet,
    .button__icon--tablet {
        display: block;
    }

    .content__text {
        /* max-width: 312px; */
        height: 160px;
        letter-spacing: 0.2px;
    }

    .content__image {
        width: 360px;
        height: 208px;
        border-radius: 6px;
    }

    .header__image {
        margin-right: 5%;
    }
    
    .brand_card{
        margin-left: 24px;
        width: 224px;
    }

    .swiper-pagination {
        display: none;
    }

    .brands__wrapper {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        max-height: 172px;
        transition: max-height .2s ease;
        margin: auto;
        max-width: 1120px;
    }

    .brands__wrapper--show_more {
        max-height: 1000px;
        margin-bottom: 16px;
        transition: max-height .2s ease;
    }
}

@media screen and (min-width:1120px){
    .header{display:none;}
    .scroll_menu {flex-wrap: wrap; height: auto;}
    .scroll_menu::before{display: none;}
    .content__text{max-width: 490px;}
   .buttons_wrapper {
       justify-self: end;
       display: inline-flex;
       flex-direction: row;
       align-items: flex-end;
       align-items: center;
       justify-content: space-around;
       height: 40px;
       width: 373px;
   }

   .buttons_wrapper__button_text {
       font-family: 'TT Lakes', sans-serif;
       font-weight: 500;
       font-size: 1.14rem;
       height: 24px;
       letter-spacing: -0.2px;
       color: #1B1C21
   }
   .content__image {
       width: 531px;
       height: 307px;
       margin-bottom: 24px;
   }

   body{
        margin-left: 320px;
        width: calc(100% - 320px);
   }

   .aside_menu{
        opacity: 1;
        left: 0;
   }

   .button-close-aside{display: none;}
}










